* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Cabin", sans-serif;
}

.left-nav,
.right-nav {
  width: 50%;
  height: 60px;
  background-color: white;
  float: left;
}

img.logo {
  vertical-align: middle;
  height: 30px;
  margin-right: 25px;
  margin-top: 13px;
}

a.m-left {
  color: black;
  text-decoration: none;
  font-size: 18px;
  padding: 10px;
  padding-left: 20px;
  vertical-align: bottom;
}

a.m-right {
  color: black;
  text-decoration: none;
  font-size: 18px;
  padding: 10px;
  padding-left: 20px;
  vertical-align: bottom;
}

.menu-right {
  text-align: right;
}

.right-nav a:last-child > span {
  color: white;
  background-color: rgb(14, 94, 223);
  padding: 4px 20px;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.intro-main {
  width: 100%;
  height: 500px;
  background-color: lightblue;
}

.title-container h1 {
  width: 65%;
  margin: auto;
  text-align: left;
  padding: 30px;
  font-size: 60px;
}

.paragraph-intro {
  width: 26%;
  height: 50px;
  margin-left: 270px;
}

.prova-free {
  color: white;
  background-color: rgb(14, 94, 223);
  padding: 4px 25px;
}
.first-container {
  width: 820px;
  height: 760px;
  margin: 50px auto;
  background-color: rgb(221, 221, 72);
}

.col-5 {
  width: 100%;
  height: 120px;
  background-color: orange;
}

.col-10 {
  width: 33%;
  background-color: orange;
  float: left;
  margin-top: 10px;
  margin-left: 2px;
}
.col-6 {
  width: 100%;
  height: 120px;
  background-color: orange;
  float: left;
  margin-top: 10px;
}

.second-container {
  width: 820px;
  height: 400px;
  margin: 50px auto;
  background-color: rgb(13, 96, 117);
}

.col-70 {
  width: 69%;
  float: left;
  background-color: rgb(82, 185, 199);
}

.col-30 {
  width: 30%;
  float: right;
  background-color: rgb(82, 185, 199);
}

.col-50 {
  width: 50%;
  height: 50%;
  background-color: black;
  float: left;
}

.height400 {
  height: 400px;
}

.height500 {
  height: 500px;
}
.height300 {
  height: 300px;
}

.third-container {
  width: 820px;
  height: 850px;
  background-color: rgb(250, 225, 2);
  margin: 50px auto;
}

.col-100 {
  width: 100%;
  background-color: green;
}

.height200 {
  height: 200px;
}

.forth-container {
  width: 100%;
  height: 760px;
  background-color: lightsalmon;
}

.col-33 {
  width: 30%;
  height: 400px;
  background-color: rgb(226, 43, 144);
  float: left;
}

.col-40 {
  width: 40%;
  height: 400px;
  background-color: rgb(226, 43, 144);
  float: left;
}

.col-100 {
  width: 100%;
  background-color: rgb(85, 85, 212);
  float: left;
}

.questions-container {
  width: 820px;
  margin: 50px auto;
  background-color: rgb(226, 136, 151);
}

.footer-container {
  width: 100%;
  background-color: #333;
}
