:root {
  --dark: #000000;
  --primary: #0061ff;
  --secondary: lightblue;
  --light: #f5f5f5;
  --lighter: #ffffff;
  --accent: #610828;
  --month: gray;
  --dropdown: rgb(187, 184, 184);
  --title-color: rgb(99, 26, 99);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
  color: var(--dark);
}

header {
  width: 100%;
}

.debug > main {
  height: 3900px;
}

.debug > footer {
  height: 400px;
}

footer {
  background-color: var(--dark);
}

.debug .plans [class^="col-33"] {
  border: 1px solid var(--lighter);
  height: 600px;
}

.debug .partners [class^="col-"] {
  border: 1px solid var(--lighter);
  height: 400px;
}

.debug .features [class^="col-"] {
  border: 1px solid var(--lighter);
  height: 400px;
}

.features {
  height: 900px;
}
/* Dropdown */
.Dropdown-contain {
  padding: 10px;
}

.Dropdown-contain li {
  margin: 0;
  padding: 0;
  width: 100%;
}

.Dropdown-contain ul.inline-list {
  width: 100%;
}

li.Dropdwon {
  position: relative;
  margin: 0;
  padding: 0;
}

li .Dropdown-contain {
  display: none;
  font-size: 12px;
  width: 50%;
  position: absolute;
  background-color: var(--dropdown);
}

li .Dropdown-contain.right {
  right: 0;
  padding-right: 8px;
}

li.Dropdown:hover .Dropdown-contain {
  display: block;
}

li.Dropdown a {
  width: 100%;
  display: inline-block;
  text-align: left;
}

.Dropdown-contain li:hover {
  background-color: lightgrey;
}

.min-w-500 {
  min-width: 500px;
}

.min-w-600 {
  min-width: 600px;
}

.m-t-15 {
  margin-top: 15px;
}

/* EndDropdown */
/* utility */
.container {
  width: 70%;
  max-width: 960px;
  margin: 0 auto;
}

.container-lg {
  width: 80%;
  max-width: 1162px;
  margin: auto;
}

.m-top {
  margin-top: 5rem;
}
.row {
  width: 100%;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

.row [class^="col"] {
  float: left;
}

[class^="col-"] {
  float: left;
}

.m-r4 {
  margin-right: 4%;
}

.col-16 {
  width: 16%;
}

.col-33 {
  width: 33.33%;
}

.col-50 {
  width: 50%;
}

.col-40 {
  width: 40%;
}

.col-60 {
  width: 60%;
}

.col-100 {
  width: 100%;
  height: 200px;
}

.height300 {
  height: 300px;
  background-color: var(--accent);
}

.m-b40 {
  margin-bottom: 70px;
  padding-top: 50px;
}

.col-33 > img {
  width: 100%;
  height: 50%;
  object-fit: contain;
}

.icon-chevron {
  text-align: right;
  padding-top: 20px;
}

.designit {
  background-color: #add09e;
}
.asu {
  background-color: #531c2f;
}
.uf {
  background-color: #339bcf;
}
.topps {
  background-color: #fa1908;
}
.wbr {
  background-color: #d32218;
}
.hearst {
  background-color: #bacee5;
}
.lonely-planet {
  background-color: #252f86;
}
.clear-chennel {
  background-color: #f9d31f;
}
/* End utility */

/* Text */
ul.inline-list {
  list-style: none;
  display: inline-block;
}

ul.inline-list > li {
  display: inline-block;
}

.btn {
  display: inline-block;
  background-color: transparent;
  font-size: 12px;
  padding: 5px;
}

.btn-primary {
  background-color: var(--primary);
  color: var(--light);
}

.px-1 {
  padding-left: 22px;
  padding-right: 22px;
}

.fm-r {
  float: right;
  margin-right: 20px;
}

.btn-sm {
  background-color: var(--light);
  color: var(--dark);
  padding: 4px 15px;
  border: 1px solid black;
}

.fa-check {
  color: var(--primary);
}
.text-right {
  text-align: right;
}

.month {
  color: var(--month);
}
/* header */

header {
  padding: 11px;
  height: 55px;
}

.navbar .menu-left a,
.navbar .menu-right a {
  padding: 8px;
}

.navbar .logo > img {
  vertical-align: sub;
}

/* main */
.jumbotron {
  height: 550px;
  background-color: var(--secondary);
}

.jumbotron h1 {
  font-size: 60px;
  padding-top: 3rem;
}

.hero-text p {
  margin: 2rem 0 2.5rem;
}
.hero-call-to-action > div {
  font-size: 12px;
  margin-top: 10px;
}

.jumbotron .jumbo-image {
  margin-top: 2rem;
}

.table-head {
  height: 30px;
  background-color: white;
  text-align: center;
  padding: 3px;
  border: 2px solid var(--light);
}

.punti > div {
  margin-top: 11px;
}

.table-content {
  background-color: var(--lighter);
  padding: 23px;
  line-height: 20px;
  border: 2px solid var(--light);
  font-size: 11px;
}

.table-headline {
  width: 100%;
  height: 30px;
  text-align: center;
  background-color: var(--lighter);
  padding: 3px;
  border: 2px solid var(--light);
}

.content-enterprise {
  padding: 20px;
  background-color: var(--lighter);
  line-height: 2rem;
  border: 2px solid var(--light);
}

.content-enterprise > h2 {
  margin-bottom: 1.3rem;
}
.row > h2 {
  padding-top: 1rem;
  padding-bottom: 2rem;
}

.col-60 > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.text-partner {
  padding: 27px;
  margin-top: 20px;
  font-size: 12px;
}

.dropbox-text {
  padding: 24px;
  font-size: 12px;
}
.clienti {
  padding: 1rem 14rem;
}

.link {
  color: var(--primary);
  text-decoration: underline;
}

.partners-container {
  width: 100%;
  height: 400px;
  background-color: #84d0e7;
}

.team {
  width: 30%;
  height: 400px;
  background-color: rgb(226, 43, 144);
  float: left;
}

.col-55 {
  position: relative;
  float: left;
  width: 50%;
  height: 200px;
}

.col-55 img {
  position: absolute;
  width: 50%;
  height: 100%;
  margin: auto;
  filter: invert(100%);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.col-45 {
  width: 40%;
  height: 400px;
  background-color: var(--light);
  float: left;
}

.logo-title img {
  width: 130px;
}

.logo-title p {
  margin-top: 45px;
  font-size: 13px;
}

.logo-title {
  padding: 45px;
}

.hr-partner {
  width: 13%;
  margin-top: 25px;
  color: var(--light);
}

.call-to-action {
  background-color: var(--secondary);
  padding: 5px;
  height: 200px;
}

.call-to-action .title {
  float: left;
  color: var(--title-color);
  font-weight: 700;
  padding: 3rem 13rem;
}

.btn-prova {
  background-color: var(--light);
  color: var(--dark);
  padding: 8px 45px;
  text-decoration: none;
  font-size: 12px;
  display: inline-block;
  margin: 3rem;
}

.text-right {
  text-align: right;
}
.col-60 > p {
  font-size: 12px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.faq > .question > strong {
  display: inline-block;
  width: 90%;
  padding: 14px 0;
  font-size: 13px;
}

.faq .answer {
  padding: 8px 0;
  display: none;
  font-size: 12px;
}

.faq {
  border-top: 1px solid var(--light);
}
.pt-4 {
  padding-top: 4rem;
  padding-bottom: 2rem;
}

.faq:hover .answer {
  display: block;
}

.faq:hover i {
  transform: rotate(180deg);
}

.faq > .question > i {
  width: 5%;
}
/* End main */

/* accordion */
.question > p {
  display: inline-block;
}
.question:hover .answer {
  display: block;
}

/* end-accordion */

/* footer */
.footer-container {
  width: 80%;
  background-color: var(--dark);
  color: var(--light);
  margin: 0 auto;
}

footer h4 {
  color: var(--secondary-color);
  margin-bottom: 23px;
}

footer ul.unstyle > li > a {
  color: var(--secondary-color);
  font-size: 12px;
  line-height: 23px;
  text-decoration: none;
}

.language {
  color: var(--secondary);
  padding-top: 35px;
  border-top: 1px solid #696565;
  width: 120px;
}

.language select {
  color: var(--light);
  background-color: transparent;
  border: none;
}

h4 {
  font-size: 18px;
  font-weight: 600;
}

ul.unstyle {
  list-style: none;
}
/* End footer */
:root {
  --dark: #000000;
  --primary: #0061ff;
  --secondary: lightblue;
  --light: #f5f5f5;
  --lighter: #ffffff;
  --accent: #610828;
  --month: gray;
  --title-color: rgb(99, 26, 99);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
  color: var(--dark);
}

header {
  width: 100%;
}

.debug > main {
  height: 4000px;
}

.debug > footer {
  height: 400px;
}

footer {
  background-color: var(--dark);
}

.debug .plans [class^="col-33"] {
  border: 1px solid var(--lighter);
  height: 600px;
}

.debug .partners [class^="col-"] {
  border: 1px solid var(--lighter);
  height: 400px;
}

.debug .features [class^="col-"] {
  border: 1px solid var(--lighter);
  height: 400px;
}

.features {
  height: 900px;
}

/* utility */
.container {
  width: 70%;
  max-width: 960px;
  margin: 0 auto;
}

.container-lg {
  width: 80%;
  max-width: 1162px;
  margin: auto;
}

.m-top {
  margin-top: 5rem;
}
.row {
  width: 100%;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

.row [class^="col"] {
  float: left;
}

[class^="col-"] {
  float: left;
}

.m-r4 {
  margin-right: 4%;
}

.col-16 {
  width: 16%;
}

.col-33 {
  width: 33.33%;
}

.col-50 {
  width: 50%;
}

.col-40 {
  width: 40%;
}

.col-60 {
  width: 60%;
}

.col-100 {
  width: 100%;
  height: 200px;
}

.height300 {
  height: 300px;
  background-color: var(--accent);
}

.m-b40 {
  margin-bottom: 70px;
  padding-top: 50px;
}

.col-33 > img {
  width: 100%;
  height: 50%;
  object-fit: contain;
}

.designit {
  background-color: #add09e;
}
.asu {
  background-color: #531c2f;
}
.uf {
  background-color: #339bcf;
}
.topps {
  background-color: #fa1908;
}
.wbr {
  background-color: #d32218;
}
.hearst {
  background-color: #bacee5;
}
.lonely-planet {
  background-color: #252f86;
}
.clear-chennel {
  background-color: #f9d31f;
}
/* End utility */

/* Text */
ul.inline-list {
  list-style: none;
  display: inline-block;
}

ul.inline-list > li {
  display: inline-block;
}

.btn {
  display: inline-block;
  background-color: transparent;
  font-size: 12px;
  padding: 5px;
}

.btn-primary {
  background-color: var(--primary);
  color: var(--light);
}

.px-1 {
  padding-left: 18px;
  padding-right: 18px;
}

.btn-lg {
  color: white;
  background-color: var(--primary);
  padding: 0px 60px;
  text-align: center;
  float: right;
  font-size: 11px;
  margin-right: 20px;
}

.btn-sm {
  background-color: var(--light);
  color: var(--dark);
  padding: 4px 15px;
  border: 1px solid black;
}

.text-right {
  text-align: right;
}

.month {
  color: var(--month);
}
/* header */

header {
  padding: 11px;
  height: 55px;
}

.navbar .menu-left a,
.navbar .menu-right a {
  padding: 8px;
}

.navbar .logo > img {
  vertical-align: sub;
}

/* main */
.jumbotron {
  height: 550px;
  background-color: var(--secondary);
}

.jumbotron h1 {
  font-size: 60px;
  padding-top: 3rem;
}

.hero-text p {
  margin: 2rem 0 2.5rem;
}
.hero-call-to-action > div {
  font-size: 12px;
  margin-top: 10px;
}

.jumbotron .jumbo-image {
  margin-top: 2rem;
}

.table-head {
  height: 30px;
  background-color: white;
  text-align: center;
  padding: 3px;
  border: 2px solid var(--light);
}

.punti > div {
  margin-top: 11px;
}

.table-content {
  background-color: var(--lighter);
  padding: 23px;
  line-height: 20px;
  border: 2px solid var(--light);
  font-size: 11px;
}

.table-headline {
  width: 100%;
  height: 30px;
  text-align: center;
  background-color: var(--lighter);
  padding: 3px;
  border: 2px solid var(--light);
}

.content-enterprise {
  padding: 20px;
  background-color: var(--lighter);
  line-height: 2rem;
  border: 2px solid var(--light);
}
.content-enterprise > p {
  font-size: 11px;
}

.row > h2 {
  padding-top: 1rem;
  padding-bottom: 2rem;
}

.col-60 > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.text-partner {
  padding: 27px;
  margin-top: 20px;
  font-size: 12px;
}
.dropbox-text {
  padding: 24px;
  font-size: 12px;
}
.clienti {
  padding: 1rem 14rem;
}
.link {
  color: var(--primary);
  text-decoration: underline;
}

.partners-container {
  width: 100%;
  height: 400px;
  background-color: #84d0e7;
}

.team {
  width: 30%;
  height: 400px;
  background-color: rgb(226, 43, 144);
  float: left;
}

.col-55 {
  position: relative;
  float: left;
  width: 50%;
  height: 200px;
}

.col-55 img {
  position: absolute;
  width: 50%;
  height: auto;
  margin: auto;
  filter: invert(100%);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.col-45 {
  width: 40%;
  height: 400px;
  background-color: var(--light);
  float: left;
}

.logo-title img {
  width: 130px;
}

.logo-title p {
  margin-top: 45px;
  font-size: 13px;
}

.logo-title {
  padding: 45px;
}

.hr-partner {
  width: 13%;
  margin-top: 25px;
  color: var(--light);
}

.call-to-action {
  background-color: var(--secondary);
  padding: 5px;
  height: 200px;
}

.call-to-action .title {
  float: left;
  color: var(--title-color);
  font-weight: 700;
  padding: 3rem 13rem;
}

.btn-prova {
  background-color: var(--light);
  color: var(--dark);
  padding: 8px 50px;
  text-decoration: none;
  font-size: 12px;
  display: inline-block;
  margin: 3rem;
}
.border-bottom {
  border-bottom: 1px solid lightgray;
}

.title-faq {
  padding: 39px 0;
}

.text-right {
  text-align: right;
}

.col-60 > p {
  font-size: 12px;
  padding-top: 20px;
  padding-bottom: 20px;
}

/* End main */

/* footer */
.footer-container {
  width: 80%;
  background-color: var(--dark);
  color: var(--light);
  margin: 0 auto;
}

footer h4 {
  color: var(--secondary-color);
  margin-bottom: 23px;
}

footer ul.unstyle > li > a {
  color: var(--secondary-color);
  font-size: 12px;
  line-height: 23px;
  text-decoration: none;
}

.language {
  color: var(--secondary);
  padding-top: 35px;
  border-top: 1px solid #696565;
  width: 120px;
}

.language select {
  color: var(--light);
  background-color: transparent;
  border: none;
}

h4 {
  font-size: 18px;
  font-weight: 600;
}

ul.unstyle {
  list-style: none;
}
/* End footer */
