:root {
  --button-color: rgb(14, 94, 223);
  --border-color: lightgray;
  --month-color: gray;
  --primary-color: black;
  --secondary-color: white;
  --bg-color: lightblue;
  --title-color: rgb(102, 21, 102);
  --nation-color: #868484;
  --centerDesignit-color: rgb(235, 229, 229);
}

/* common */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

/* utility */
.row {
  width: 100%;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

.btn-lg {
  color: white;
  background-color: var(--button-color);
  padding: 0px 60px;
  text-align: center;
  float: right;
  font-size: 11px;
  margin-right: 20px;
}

.btn-sm {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  padding: 4px 15px;
  border: 1px solid black;
}

.btn-primary {
  background-color: var(--button-color);
  color: var(--secondary-color);
}

.btn-medium {
  background-color: var(--button-color);
  padding: 3px 6px;
  margin-top: 12px;
  text-align: center;
  color: white;
}

.col-60 {
  width: 60%;
  float: left;
}

.col-40 {
  width: 40%;
  float: right;
}

.col-16 {
  width: 16%;
}

.col-10 {
  width: 33%;
  background-color: white;
  float: left;
  margin-top: 10px;
  margin-left: 2px;
}

.btn {
  display: inline-block;
  background-color: transparent;
  font-size: 12px;
  padding: 6px 15px;
}

.col-50 {
  position: relative;
  float: left;
  width: 50%;
  height: 200px;
}

.row [class^="col"] {
  float: left;
}

.col-45 {
  width: 40%;
  height: 400px;
  background-color: var(--centerDesignit-color);
  float: left;
}

.col-100 {
  width: 100%;
  background-color: rgb(85, 85, 212);
  float: left;
}

.col-100 {
  width: 100%;
}

.height200 {
  height: 200px;
}

.height400 {
  height: 400px;
}

.height600 {
  height: 600px;
}

.height300 {
  height: 300px;
}

/* header */
header {
  padding: 7px 15px;
}

.half-head {
  width: 50%;
  float: left;
  background-color: var(--secondary-color);
  height: 40px;
}

ul.inline-list {
  list-style: none;
  display: inline-block;
  padding: 3px;
}

ul.inline-list > li {
  display: inline-block;
  padding: 6px;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

.navbar .menu-left a,
.navbar .menu-right a {
  padding: 8px;
}

.navbar .logo > img {
  vertical-align: sub;
}
.title {
  font-weight: bold;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

/* main */
.intro-main {
  width: 100%;
  height: 500px;
  background-color: lightblue;
}

.jumbotron h1 {
  width: 65%;
  margin: auto;
  text-align: left;
  padding: 32px;
  font-size: 47px;
  margin-bottom: 15px;
}

.paragraph-intro {
  width: 26%;
  height: 50px;
  margin-left: 270px;
  font-size: 15px;
}

.prova-free {
  color: white;
  background-color: rgb(14, 94, 223);
  padding: 4px 25px;
}

.jumbo img {
  width: 45%;
  float: right;
  margin-right: 109px;
  margin-top: -3%;
  height: 356px;
}
.first-container {
  width: 820px;
  height: 850px;
  margin: 110px auto;
}

.month {
  color: var(--month-color);
}
.col-5 {
  width: 100%;
  height: 120px;
}

.col-5 > h2 {
  font-size: 28px;
  padding: 3px;
  margin-bottom: 30px;
}

.table-head {
  height: 30px;
  background-color: white;
  text-align: center;
  padding: 3px;
  border: 1px solid var(--border-color);
}
.table-headline {
  width: 100%;
  height: 30px;
  text-align: center;
  background-color: white;
  padding: 3px;
  border: 1px solid var(--border-color);
}

.content-enterprise {
  padding: 20px;
  line-height: 2rem;
  border: 1px solid var(--border-color);
}
.content-enterprise > p {
  font-size: 11px;
}

.table-content {
  background-color: white;
  padding: 23px;
  line-height: 20px;
  border: 1px solid var(--border-color);
  font-size: 11px;
}

.text-partner {
  padding: 27px;
  margin-top: 20px;
  font-size: 12px;
}

.punti > div {
  margin-top: 11px;
}

.table-content > .utente {
  margin-top: 10px;
}

.col-10 > img {
  width: 100%;
  height: 50%;
  object-fit: cover;
}
.col-6 {
  width: 100%;
  height: 140px;
  float: left;
  margin-top: 10px;
}

.dropbox-text {
  padding: 24px;
  font-size: 12px;
}

.partner-call {
  width: 820px;
  height: 400px;
  margin: 50px auto;
  background-color: var(--secondary-color);
}

.col-60 > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.m-b40 {
  margin-bottom: 70px;
}

.m-r4 {
  margin-right: 4%;
}

h4 {
  font-size: 18px;
  font-weight: 600;
}

ul.unstyle {
  list-style: none;
}

.third-container {
  width: 820px;
  height: 860px;
  margin: 50px auto;
}

.third-container > h2 {
  margin: 8px;
  font-weight: 700;
}

.clienti {
  padding: 3rem 23rem;
}

.partners-container {
  width: 100%;
  height: 400px;
}

.logo-title img {
  width: 130px;
}

.logo-title p {
  margin-top: 45px;
  font-size: 13px;
}

.logo-title {
  padding: 45px;
}

.hr-partner {
  width: 13%;
  margin-top: 25px;
  color: var(--border-color);
}

.partners {
  width: 30%;
  height: 400px;
  background-color: rgb(226, 43, 144);
  float: left;
}

.col-50 img {
  position: absolute;
  width: 50%;
  height: 100%;
  margin: auto;
  filter: invert(100%);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.designit {
  background-color: #add09e;
}

.asu {
  background-color: #531c2f;
}

.uf {
  background-color: #339bcf;
}

.topps {
  background-color: #fa1908;
}

.wbr {
  background-color: #d32218;
}

.hearst {
  background-color: #bacee5;
}

.lonely-planet {
  background-color: #252f86;
}

.clear-chennel {
  background-color: #f9d31f;
}

.section-porta {
  background-color: var(--bg-color);
  padding: 5px;
  height: 200px;
}

.medium-width {
  width: 820px;
  height: 500px;

  margin: auto;
  padding-top: 70px;
}

.section-porta .medium-width {
  padding-top: 66px;
}

.section-porta .title {
  float: left;
  width: 60%;
  color: var(--title-color);
  font-weight: 700;
}

.btn-prova {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  padding: 8px 45px;
  display: inline-block;
  text-decoration: none;
  font-size: 12px;
}

/* section-faq */
.border-bottom {
  border-bottom: 1px solid lightgray;
}

.title-faq {
  padding: 30px 0;
}
.text-right {
  text-align: right;
}

.col-60 > p {
  font-size: 12px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.section-question {
  width: 820px;
  margin: 50px auto;
}

/* footer */
#side-footer {
  background-color: var(--primary-color);
  padding: 70px 0 15px;
}

.footer-container {
  width: 80%;
  margin: 0 auto;
}

footer h4 {
  color: var(--secondary-color);
  margin-bottom: 23px;
}

footer ul.unstyle > li > a {
  color: var(--secondary-color);
  font-size: 12px;
  line-height: 23px;
  text-decoration: none;
}

.language {
  color: var(--nation-color);
  padding-top: 35px;
  border-top: 1px solid #696565;
  width: 120px;
}

.language select {
  color: var(--nation-color);
  background-color: transparent;
  border: none;
}
